html, body {
  margin: 0; padding: 0; border: 0
}
/*body { background-color: #000; color: #ddd; }*/

#scan-project { overflow: hidden }

#scans { width: 10%; height: 100%;
float: left;
overflow: auto;
overflow-y: auto;
padding-bottom: 10%;
}


#video-feed { width: 90%; position: fixed; top: 0; right: 0; overflow: none }

img.video { max-height: 100%; display: block; margin: 0 auto }
img.scan { width: 100%; }

#scan-list { list-style-type: none; padding: 0; margin: none }
