#scan-project { overflow: none }
#scans { width: 15%; height: 100%; float: left; resize: horizontal }
#video-feed { width: 75%; float: right; }
img.video { width: 100%; }
img.scan { width: 100%; }

/*#scan-list { list-style-type: none; padding: 0; margin: none }*/
